.services {
  position: relative;
  display: inline-block;
  width: 100%;
}
.services__back {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.services__back_side_center {
  width: 410px;
}

.services__back_side_left {
  background-color: #393f47;
  flex: 1;
}

.services__back_side_right {
  background-color: #393f47;
  flex: 1;
}

.services__front {
  position: relative;
  z-index: 1;
  margin-top: 120px;
  margin-bottom: 129px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__img {
}
